@font-face {
    font-family: "ComfortaaReg";
    src: url("Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "Ephesis";
    src: url("Ephesis-Regular.ttf");
}

@font-face {
    font-family: "Shirk";
    src: url("Shrikhand-Regular.ttf");
}
